name: Buildbla

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet packages
      run: nuget restore YTSubConverter.UI.Win/YTSubConverter.UI.Win.csproj

    - name: Build YTSubConverter.UI.Win (x64)
      run: msbuild YTSubConverter.UI.Win/YTSubConverter.UI.Win.csproj /p:Configuration=Release /p:Platform=x64
